extends layout

block content
  div(class='center')
    img(src='images/logo.jpg', class='circle', width=200, height=200)
    h1= "NSGolova"
    div
      h1(id='left-dev')=".dev("
      a(id='center-dev',href='https://github.com/radulov')
        img(src='images/github.png', width=32, height=32)
      h1(id='right-dev')=")"
    div
      h1(id='left-a')=".author("
      a(id='center-a', href='https://nsgolova.medium.com')
        img(src='images/medium.png', width=32, height=36)
      h1(id='right-a')=")"
    div
      h1(id='left-gamer')=".gamer("
      a(id='center-gamer', href='http://steamcommunity.com/id/nsgolova/')
        img(src='images/steam.png', width=32, height=32)
      h1(id='right-gamer')=")"
